body {
    padding: 1rem;
    min-height: 100vh;
    background-color: #222;
    color: #ddd;
}

label {
    padding: 0.2rem;
    display: block;
}

button {
    width: fit-content;
}

#button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1rem;
}

input:invalid {
  background-color: lightpink;
}